@model Catalogs.Models.Catalog

@{
    ViewBag.Title = "DirectoryInfo";
}

<h1>"Folder" - @Model.Name</h1>

@foreach (var item in Model.Children)
{
    <p>@Html.ActionLink(item.Name, "DirectoryInfo", new { id = item.Id })</p>
}

