@model IEnumerable<Catalogs.Models.Catalog>

@{
    ViewBag.Title = "Index";
}

<h2>Root Dirctories</h2>
<div>
    @foreach (var item in Model)
    {
        <h4>@Html.ActionLink(item.Name, "CatalogInfo", new { id = item.Id })</h4>
    }
</div>

<hr/>
<div>
    <p>@Html.ActionLink("Import Catalogs from OS", "ImportCatalogs")</p>
</div>